<!-- JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{{ site.data.global.url }}/js/power.js"></script>
<script type="text/javascript" src="{{ site.data.global.url }}js/svg.min.js"></script>
<script type="text/javascript" src="{{ site.data.global.url }}js/PieProgress.js"></script>

<script type="text/javascript">
$('svg.pie-progress[data-percentage]').each(function (n, element) {
  var pieWidth = 150;

  $(this).css({"width": pieWidth + "px", "height": pieWidth + "px"});

  if(typeof window.pieProgressCanvases === 'undefined') {
    window.pieProgressCanvases = [];
  }

  if(typeof window.pieProgressObjects === 'undefined') {
    window.pieProgressObjects = [];
  }

  var newCanvas =  SVG(element);
  var newObject = new PieP.PieProgress(
    pieWidth / 2,
    parseInt($(this).attr('data-percentage')),
    newCanvas
  );

  window.pieProgressCanvases[window.pieProgressCanvases.length] = newCanvas;
  window.pieProgressObjects[window.pieProgressObjects.length] = newObject;

  newCanvas = null;
  newObject = null;
});
</script>
