<!-- JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ 'js/svg.min.js' | prepend: site.data.global.url }}"></script>
<script type="text/javascript" src="{{ 'js/PieProgress.js' | prepend: site.data.global.url }}"></script>
<script type="text/javascript" src="{{ 'js/PieProgress-bootstrapHack.js' | prepend: site.data.global.url }}"></script>
