<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      {% include components/my_avatar.html %}
    </div>
    <div class="col-md-8">
      <div class="im-centered">
        <div class="row">
          <div class="col-md-6 col-sm-4">
            <strong>Name:</strong>
            <br/>
            David Asensio Cañas
          </div>
          <div class="col-md-6 col-sm-4">
            <strong>E-mail:</strong>
            <br/>
            <a href="mailto:david.asensio@icloud.com">david.asensio@icloud.com</a>
          </div>
          <div class="col-md-6 col-sm-4">
            <strong>Telephone:</strong>
            <br/>
            +34 692-166-361
          </div>
          <div class="col-md-6 col-sm-4">
            <strong>Address:</strong>
            <br/>
            Cort-Reial 13 2-B, 17004 Girona
          </div>
          <div class="col-md-6 col-sm-4">
            <strong>Social media:</strong>
            <br/>
            <a href="" class="social-media-icon">
              <img src="{{ site.data.global.url }}/img/social_media/svg/Linkedin.svg" onerror="this.src='{{ site.data.global.url }}/img/social_media/png/Linkedin.png'">
            </a>
            <a href="" class="social-media-icon">
              <img src="{{ site.data.global.url }}/img/social_media/svg/Github.svg" onerror="this.src='{{ site.data.global.url }}/img/social_media/png/Github.png'">
            </a>
          </div>
          <div class="col-md-6 col-sm-4">
            <strong>Birth:</strong>
            <br/>
            25/10/1994
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
