<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      {% include components/my_avatar.html %}
    </div>
    <div class="col-md-8">
      <div class="im-centered">
        <div class="row">
          <div class="col-md-6 col-sm-4">
            <strong>Full Name:</strong>
            <br/>
            David Asensio Cañas
          </div>
          <div class="col-md-6 col-sm-4">
            <strong>E-mail:</strong>
            <br/>
            <a href="mailto:david.asensio@icloud.com">david.asensio@icloud.com</a>
          </div>
          <div class="col-md-6 col-sm-4">
            <strong>Telephone:</strong>
            <br/>
            +34 692-166-361
          </div>
          <div class="col-md-6 col-sm-4">
            <strong>City:</strong>
            <br/>
            Girona
          </div>
          <div class="col-md-6 col-sm-4">
            <strong>Social media:</strong>
            <br/>
            <a href="https://es.linkedin.com/in/david-asensio-cañas-496ab7128" target="_blank" class="social-media-icon">
              <img src="{{ '/img/social_media/svg/Linkedin.svg' | prepend: site.baseurl }}" onerror="this.src='{{ '/img/social_media/png/Linkedin.png' | prepend: site.baseurl }}'">
            </a>
            <a href="https://github.com/d-asensio" target="_blank" class="social-media-icon">
              <img src="{{ '/img/social_media/svg/Github.svg' | prepend: site.baseurl }}" onerror="this.src='{{ '/img/social_media/png/Github.png' | prepend: site.baseurl }}'">
            </a>
          </div>
          <div class="col-md-6 col-sm-4">
            <strong>Born:</strong>
            <br/>
            25/10/1994
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
